 <div class="cart">
  @let listDetails = orderDetails;
  <h3><span>{{ listDetails.length }} ARTICLE(S)</span></h3>

  <table class="item-table">
 <thead>
    <tr>
      <th class="col-icon"></th>
      <th class="col-name">Product</th>
      <th class="col-price">Price</th>
      <th class="col-qty">Quantity</th>
      <th class="col-subtotal">Subtotal</th>
    </tr>
  </thead>
  <tbody>
    @for (item of listDetails; track item; let i = $index) {
    <tr>
      <td><button class="delete-btn" (click)="deleteLine(i)">🗑</button></td>
      <td>{{ item?.product?.productName }}</td>
      <td>{{ item?.product?.purchasePrice }} د.ت</td>
      <td><input type="number" id="quantity" name="quantity" min="1"  [(ngModel)]="item.Quantity" (change)="changeQuantityEvent(item)" required /></td>
      <td>{{ item?.product?.purchasePrice  }} د.ت</td>
    </tr>
    }
  </tbody>
  </table>

  <div class="total">
    <span>Total</span>
    <strong>{{ getTotal() }}</strong>
  </div>
</div> 

