<div class="container">
  <h2>Orders </h2>
<table mat-table [dataSource]="orders" class="mat-elevation-z8" multiTemplateDataRows>

    <!-- Order ID Column -->
    <ng-container matColumnDef="OrderId">
      <th mat-header-cell *matHeaderCellDef> Order ID </th>
      <td mat-cell *matCellDef="let order"> {{ order.OrderId }} </td>
    </ng-container>

    <!-- Order Date Column -->
    <ng-container matColumnDef="OrderDate">
      <th mat-header-cell *matHeaderCellDef> Order Date </th>
      <td mat-cell *matCellDef="let order"> {{ order.OrderDate | date }} </td>
    </ng-container>

    <!-- Products Column -->
    <ng-container matColumnDef="Products">
      <th mat-header-cell *matHeaderCellDef> Products </th>
      <td mat-cell *matCellDef="let order">
        <ul>
          <div *ngFor="let d of order.orderDetails">
            {{ d.product?.productName || 'N/A' }} (x{{ d.Quantity }})
          </div>
        </ul>
      </td>
    </ng-container>

        <!-- Total Column -->
    <ng-container matColumnDef="Total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let order"> {{  getTotal(order) | currency }} </td>
    </ng-container>

        <!-- Actions Column -->
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let order">
        <button mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

        <tr mat-header-row *matHeaderRowDef="['OrderId', 'OrderDate', 'Products', 'Total', 'Actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['OrderId', 'OrderDate', 'Products', 'Total', 'Actions'];"></tr>
</table>
</div>