      <div class="cart">
        <h3>PANIER <span>5 ARTICLE(S)</span></h3>
        <ul class="item-list">
          <li>
            <div class="item-qty">{{currentOrder?.Quantity}} ×</div>

            <div class="item-info">
              <p><strong>{{currentOrder?.product?.productName?.toUpperCase()}}</strong> </p>
              <p class="ref">Ref : {{currentOrder?.productId}}</p>
            </div>

            <div class="item-price">
              <span>{{currentOrder?.product?.purchasePrice}}€</span>
              <button class="delete-btn">🗑</button>
            </div>
          </li>
        </ul>
        <div class="total">
          <span>Total</span>
          <strong>104.95€</strong>
        </div>


      </div>
