<div class="consult">

  <div class="list card">
    <h2>Products list</h2>
    <hr>
    <app-product-list (selectProductEvent)="handleSelectProduct($event)"> </app-product-list>
  </div>

  <div class="list card">
    <h2>Product Detail</h2>
    <hr>
    <app-product-detail *ngIf="selectedProduct" [selectedProduct]="selectedProduct">
    </app-product-detail>
 </div>


  <div class="list cartItems card" *ngIf="selectedProduct">
    <h2>Panier</h2>
    <hr>
    <app-cart-detail></app-cart-detail>
  </div>

</div>