      <div class="cart">
        <h3>PANIER <span>5 ARTICLE(S)</span></h3>
        <ul class="item-list">
          <li>
            <div class="item-qty">2 ×</div>

            <div class="item-info">
              <p><strong>MF XL BICOLOR BLEU VERT</strong> </p>
              <p class="ref">Ref : 4597059</p>
            </div>

            <div class="item-price">
              <span>11.99€</span>
              <button class="delete-btn">🗑</button>
            </div>
          </li>
        </ul>
        <div class="total">
          <span>Total</span>
          <strong>104.95€</strong>
        </div>


      </div>
