<div class="product-details" *ngIf="selectedProduct">
    <!-- image à gauche  -->
    <div class="product-image">
        <ng-container *ngIf="selectedProduct.category?.picture; else svgDefault">
            <img [src]="selectedProduct.category?.picture" alt="Image produit" />
        </ng-container>

        <ng-template #svgDefault>
            <svg width="100%" height="100%" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <rect width="200" height="200" rx="10" fill="#f0f0f0" />
                <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="#999" font-size="14">
                    Aucune image
                </text>
            </svg>
        </ng-template>
    </div>
    <!-- info  à droite  -->
    <div class="product-info">
        <h3>Produit</h3>
        <p><strong>Reference :</strong> {{ selectedProduct.productId }}</p>
        <p><strong>Nom :</strong> {{ selectedProduct.productName }}</p>
        <p><strong>Prix de vente :</strong> {{ selectedProduct.unitPrice || 'Non défini' }} €</p>
        <p><strong>Prix d’achat :</strong> {{ selectedProduct.purchasePrice || 'Non défini' }} €</p>
        <p><strong>Stock :</strong> {{ selectedProduct.unitsInStock || 'Non défini' }}</p>
    </div>

</div>
<div class="category-section" *ngIf="selectedProduct && selectedProduct.category">
    <h3>Catégorie</h3>
    <p><strong>Nom :</strong> {{ selectedProduct.category.categoryName }}</p>
    <p><strong>Description :</strong> {{ selectedProduct.category.description }}</p>
    <img *ngIf="selectedProduct.category.picture" [src]="selectedProduct.category.picture" alt="Image Catégorie" />
</div>
        <div class="cart-section">
            <form (ngSubmit)="addToCart()" #cartForm="ngForm">
                <label for="quantity"><strong>Quantité :</strong></label>
                <input type="number" id="quantity" name="quantity" min="1" [(ngModel)]="quantity" required />

                <button type="submit" [disabled]="!cartForm.valid">Ajouter au panier</button>
            </form>
        </div>
