.active{
	background: #3a6dff;
	color: white;
}

.list {
    max-height: 500px;
    overflow-x: auto;
	margin: 5px 0px;
}

hr {
	width: 92%;
    margin-left: 2px;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	width: 90%;
	padding: 10px;
	margin-bottom: 5px;
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 5px;
	transition: background 0.3s ease;
}

li:hover {
	background: #3a6dff;;
}

input {
  width: 90%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}